---
import '../styles/global.css';
---

<html>
    <head>
        <title>My Astro Site</title>
    </head>
    <body>
        <div class="flex flex-col h-screen">
            <div class="flex-1 p-3">
                <slot />
            </div>
        </div>
    </body>
</html>